In [88]:
import pandas as pd

zam_liberec = pd.read_csv("zam_liberec.csv")
zam_plzen = pd.read_csv("zam_plzeň.csv")
zam_praha = pd.read_csv("zam_praha.csv")
platy_2021_02 = pd.read_csv("platy_2021_02.csv")
vykazy = pd.read_csv("vykazy.csv")

zam_liberec["mesto"] = "Liberec"
zam_plzen["mesto"] = "Plzeň"
zam_praha["mesto"] = "Praha"

In [89]:
zam_praha.head(10)

       jmeno  prijimeni   telefonni_cislo  cislo_zamestnance  mesto
0      Brian       Hall  +421 949 656 098                 30  Praha
1      Marta   Kolářová       730 456 163                 32  Praha
2       John    Moravec       725 092 179                 33  Praha
3   Dominika    Kopecká       722 747 626                 34  Praha
4     Marcel      Hájek  +421 902 928 669                 35  Praha
5     Milada  Hernandez       773 373 704                 38  Praha
6  Catherine     Bender       604 068 460                 40  Praha
7       Olga    Němcová  +421 914 172 243                 41  Praha
8    Jeffrey    Šťastný       607 628 821                 44  Praha
9     Kamila     Říhová  +421 948 396 069                 47  Praha

In [90]:
zamestnanci = pd.concat([zam_liberec, zam_plzen, zam_praha])
zamestnanci.shape

(56, 5)

In [91]:
zamestnanci_s_platy = pd.merge(zamestnanci, platy_2021_02, on= "cislo_zamestnance")
zamestnanci_s_platy.shape

(43, 6)

In [92]:
zamestnanci_s_platy.groupby("mesto")["plat"].mean()

mesto
Liberec    43775.000000
Plzeň      44792.857143
Praha      43295.238095
Name: plat, dtype: float64

In [93]:
vykazy.head()

         date  hours project  emloyee_id
0  2021-02-01    2.5     F30          13
1  2021-02-01    3.4     W05          70
2  2021-02-01    2.1     JL9          72
3  2021-02-01    5.2     F30           3
4  2021-02-01    2.4     TE1          54

In [94]:
vykazy.groupby("project")["hours"].sum()

project
F30    21.5
JL9     2.1
TE1    16.0
W05    30.5
YLI    31.0
Name: hours, dtype: float64

In [95]:
vsichni_zamestnanci_s_platy = zamestnanci_s_platy = pd.merge(zamestnanci, platy_2021_02, how = 'outer', on= "cislo_zamestnance")
neaktualni_zamestnanci = vsichni_zamestnanci_s_platy[vsichni_zamestnanci_s_platy["plat"].isnull()]
pocet_neaktualnich_zamestnancu = neaktualni_zamestnanci.shape[0]
pocet_neaktualnich_zamestnancu

13

In [96]:
neaktualni_zamestnanci = vsichni_zamestnanci_s_platy[vsichni_zamestnanci_s_platy["plat"].isnull()]
neaktualni_zamestnanci

        jmeno prijimeni   telefonni_cislo  cislo_zamestnance    mesto  plat
3    Jennifer     Brown       775 545 190                 86  Liberec   NaN
5      Robert    Macias  +421 49 929 6856                 88  Liberec   NaN
10       Ivan    Bartoš       603 226 051                 99  Liberec   NaN
15   Jindřich    Howell  +421 39 043 0948                 10    Plzeň   NaN
16  Alexander  Martinez       721 195 689                 13    Plzeň   NaN
31     Marcel     Hájek  +421 902 928 669                 35    Praha   NaN
39   Karolína     Short       721 589 083                 53    Praha   NaN
40   Michelle   Vlčková  +421 41 720 7806                 54    Praha   NaN
43       John    Bailey       775 021 116                 58    Praha   NaN
44    William   Shelton  +421 47 745 8219                 60    Praha   NaN
45  Miroslava    Veselá       774 029 254                 62    Praha   NaN
48     Nathan   Svoboda       728 710 923                 66    Praha   NaN
51     Robert      Říha       727 351 984                 72    Praha   NaN

In [97]:
neaktualni_zamestnanci.to_csv('neaktualni_zamestnanci.csv')

In [98]:
zamestnanci.head()

       jmeno    prijimeni   telefonni_cislo  cislo_zamestnance    mesto
0       Nela      Šťastná       728 454 176                 83  Liberec
1    Heather      Marková       604 404 522                 84  Liberec
2     Krista  Procházková  +421 50 444 5544                 85  Liberec
3   Jennifer        Brown       775 545 190                 86  Liberec
4  Ladislava    Blackwell  +421 913 487 200                 87  Liberec

In [99]:
vykazy.head()

         date  hours project  emloyee_id
0  2021-02-01    2.5     F30          13
1  2021-02-01    3.4     W05          70
2  2021-02-01    2.1     JL9          72
3  2021-02-01    5.2     F30           3
4  2021-02-01    2.4     TE1          54

In [102]:
projekty = pd.merge(zamestnanci, vykazy, left_on = ["cislo_zamestnance"], right_on= ["employee_id"], how= 'outer')
projekty.head()

KeyError: 'employee_id'